.cpbMedium {
  width: 36px;
  height: 36px;
  display: inline-block;
}

.cpbSmall {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.cpbMini {
  width: 18px;
  height: 18px;
  display: inline-block;
}
